In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from IPython.display import display
df = pd.read_csv("MVP_universities.csv",quotechar='"', delimiter=',', encoding='utf-8')
df = pd.DataFrame(df)
display(df)

                                           University      Country
0                          Chalmers Tekniska Högskola       Sweden
1                            University of Gothenburg       Sweden
2                                                 KTH       Sweden
3      Norwegian University of Science and Technology       Norway
4                 Universitat Politècnica de València        Spain
5                     Gdańsk University of Technology       Poland
6                             Politechnika Warszawska       Poland
7                               Politecnico di Milano        Italy
8   Rheinisch-Westfälische Technische Hochschule A...      Germany
9                       Technische Universität Berlin      Germany
10               Technical University of Munich (TUM)      Germany
11                                         ETH Zurich  Switzerland
12                                               EPFL  Switzerland
13                      University of Copenhagen (KU)      Denmark
14                        University of Helsinki (HY)      Finland
15                            University of Cambridge      England
16                               University of Oxford      England
17                    University College London (UCL)      England
18         Institut Polytechnique de Paris (IP Paris)       France
19                    Riga Technical University (RTU)       Latvia
20                           University of Tartu (UT)      Estonia