In [43]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from IPython.display import display
df = pd.read_csv("data.csv",quotechar='"', delimiter=',', encoding='utf-8')
df = pd.DataFrame(df)
display(df)

                                 University Country
0    Blekinge Institute of Technology (BTH)  Sweden
1         Chalmers University of Technology  Sweden
2                        Dalarna University  Sweden
3                       Halmstad University  Sweden
4                      Jönköping University  Sweden
..                                      ...     ...
178              University of Pisa (UniPi)   Italy
179                    University of Trento   Italy
180        University of Naples Federico II   Italy
181             University of Milan (UniMi)   Italy
182              Scuola Superiore Sant’Anna   Italy

[183 rows x 2 columns]

None